{% extends 'task_tracker/base.html '%}

{% block content %}
<table class="task-list">
  <tr>
    <td>
      To Do
      {% for task in todos %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'task_details' task.id %}">{{ task.name }}</a></h5>
            <p class="card-text">{{ task.description }}</p>
          </div>
        </div>
      {% endfor %}
    </td>
    <td>
      In Progress
      {% for task in ip %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'task_details' task.id %}">{{ task.name }}</a></h5>
            <p class="card-text">{{ task.description }}</p>
          </div>
        </div>
      {% endfor %}
    </td>
    <td>
      Done
      {% for task in done %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'task_details' task.id %}">{{ task.name }}</a></h5>
            <p class="card-text">{{ task.description }}</p>
          </div>
        </div>
      {% endfor %}
    </td>
  </tr>
</table>
{% endblock content %}
